.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 361px;
  width: 282px;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  object-fit: cover;
  min-height: 282px;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  color: black;
  padding: 25px 15px 31px 21px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like\ inactive.svg) center no-repeat;
  height: 19px;
  width: 21px;
  border: none;
  padding: 0;
  margin: 0;
  transition: 0.3s linear;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.6;
}
