.card {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  object-fit: cover;
  min-height: 282px;
  height: 282px;
  width: 282px;
}

.card__image:hover {
  cursor: pointer;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  color: black;
  padding: 25px 15px 31px 21px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  height: 19px;
  width: 21px;
  border: none;
  padding: 0;
  margin: 0;
  transition: 0.3s linear;
  cursor: pointer;
}

.card__like-button-active {
  background: url(../images/like-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__trash-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent url(../images/trash.svg) center no-repeat;
  width: 18px;
  height: 19.3px;
  flex-shrink: 0;
  transition: 0.3s linear;
  cursor: pointer;
  border: none;
}

.card__trash-button:hover {
  background: url(../images/trash-hover.svg);
}
