.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 361px;
  width: 282px;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: black;
  border-radius: 0 0 10px 10px;
  padding-left: 20px;
  padding-right: 30px;
}

h2 {
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like\ inactive.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: 0px;
  transition: 0.3s linear;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.6;
}
