.header {
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 41px 0 41px;
  max-width: 880px;
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0;
    padding: 28px 0 28px;
  }

  .header__image {
    height: 24px;
    width: 126px;
  }
}
