.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  background-position: center;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 7px 18px;
  align-items: center;
  padding-left: 20px;
}

.profile__title {
  font-size: 42px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  box-sizing: border-box;
  border: 1px solid #fff;
  grid-area: button;
  transition: 0.3s linear;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__description {
  font-size: 18px;
  grid-area: description;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__add-button {
  height: 50px;
  width: 150px;
  background: transparent url(../images/plus-sign.svg) center no-repeat;
  box-sizing: border-box;
  border: 2px solid #fff;
  margin-left: auto;
  transition: 0.3s linear;
  cursor: pointer;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 0;
    grid-gap: 0 10px;
  }

  .profile__title {
    padding-left: 24px;
    padding-top: 20.75px;
    font-size: 22px;
    max-width: 373px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__description {
    display: flex;
    color: #fff;
    text-align: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 32px;
    line-height: normal;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0;
  }
}
