.footer {
  color: #545454;
  font-size: 18px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin-top: 67px;
  margin-bottom: 60px;
  line-height: normal;
}

.footer__copyright {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin: auto;
  }

  .footer__copyright {
    padding-left: 19px;
  }
}
